@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

body {
    min-height: 100vh;
    display: grid;
    place-content: center;

    font-family: 'Red Hat Display', sans-serif;

    background: url('../images/pattern-background-desktop.svg');
    background-color: #E0E8FF;
    background-size: contain;
    background-repeat: no-repeat;

    padding: 1.5rem;

    color: #1F2E55;
    font-size: 1rem;
}

.card {
    width: 100%;
    max-width: 28.125rem;

    border-radius: 1.25rem;
    overflow: hidden;

    background-color: white;
    box-shadow: 0rem 2.5rem 2.5rem -1.25rem rgba(13, 48, 189, 0.13);
}

.card_body {
    padding: 2.8125rem 3rem;
}

.title {
    text-align: center;
}

h1 {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 1.0625rem;
}

.title p {
    color: #717FA6;
    font-weight: 500;
    line-height: 1.625rem;
    margin-bottom: 1.25rem;
}

.plan {
    background-color: #F7F9FF;
    border-radius: 0.6875rem;
    display: flex;
    padding: 1.5625rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.plan .left {
    display: flex;
    gap: 1.25rem;
}

.plan h2 {
    font-weight: 900;
    margin-bottom: 0.375rem;
}

.plan p {
    color: #717FA6;
    font-weight: 500;
}

.plan a {
    color: #382AE1;
    font-weight: 700;
    font-size: 0.875rem;
    cursor: pointer;
}

.plan a:hover {
    color: #766CF1;
    text-decoration: none;
}

.cta button {
    display: block;
    width: 100%;
    padding: 1rem 0rem;
    border-radius: 0.6875rem;
    border: none;
    cursor: pointer;
    font-size: 0.9375rem;
    font-weight: 900;
}

.cta .payment {
    color: white;
    background-color: #382AE1;
    margin-bottom: 1rem;
    box-shadow: 0rem 1.25rem 1.25rem 0rem rgba(56, 42, 225, 0.19);
}

.cta .payment:hover {
    background-color: #766CF1;
}


.cta .cancel {
    color: #717FA6;
    background-color: transparent;
}

.cta .cancel:hover {
    color: #1F2E55;
}

